/* css/dark-mode.css */
body {
    background-color: #121212;
    color: #e0e0e0;
}

.header {
    background-color: #333;
}

.navbar a {
    color: #e0e0e0;
}

.navbar a.active {
    text-decoration: underline;
}

.form-container {
    background-color: #333;
    color: #e0e0e0;
}

.form-group input,
.form-group select,
.form-group textarea {
    background-color: #444;
    color: #e0e0e0;
    border: 1px solid #555;
}

.btn {
    background-color: #272525;
    color: #e0e0e0;
}

.btn:hover {
    background-color: #9b9797;
}

.btn-leave {
    background-color: #f44336;
}

.btn-leave:hover {
    background-color: #d32f2f;
}

.table-view {
    background-color: #333;
    color: #e0e0e0;
}

.styled-table th, .styled-table td {
    background-color: #444;
    color: #e0e0e0;
    border: 1px solid #555;
}

.hero {
    background-color: #333;
    color: #e0e0e0;
}

.hero-content {
    background-color: #444;
    color: #e0e0e0;
}

.about {
    background-color: #333;
    color: #e0e0e0;
}

footer {
    background-color: #333;
    color: #e0e0e0;
}