* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #a04632;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.navbar a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a.active {
    text-decoration: underline;
}

.user {
    display: flex;
    align-items: center;
}

.user img {
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

main {
    padding: 20px;
}

.hero {
    display: flex;
    background-color: #f4e1d2;
    padding: 20px;
    border-radius: 10px;
}

.hero img {
    width: 50%;
    border-radius: 10px;
}

.hero-content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h2 {
    color: #a04632;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #a04632;
    color: #fff;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
}

.btn:hover {
    background-color: #803927;
}

.about {
    background-color: #a04632;
    padding: 20px;
    color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

.about h2 {
    font-size: 1.8em;
}