/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #a04632;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a.active {
    text-decoration: underline;
}

.user {
    display: flex;
    align-items: center;
    position: relative;
}

.user img {
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

main {
    padding: 20px;
}

.hero {
    display: flex;
    background-color: #f4e1d2;
    padding: 20px;
    border-radius: 10px;
}

.hero img {
    width: 50%;
    border-radius: 10px;
}

.hero-content {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h2 {
    color: #a04632;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    text-decoration: none;

    padding: 10px 20px;

    background-color: #a04632;
    color: #cf0000;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
}

.btn:hover {
    background-color: #803927;
}

.about {
    background-color: #a04632;
    padding: 20px;
    color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

.about h2 {
    font-size: 1.8em;
}

.container {
    margin: 20px auto;
    max-width: 800px;
    background-color: #FAEBD7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    color: #A0522D;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, 
.form-group select, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #A0522D;
    font-size: 16px;
}

.form-group textarea {
    height: 100px;
}

.form-group .add-player-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #A0522D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group .add-player-btn:hover {
    background-color: #8B4513;
}

.form-group select {
    width: auto;
}

footer {
    text-align: right;
    margin-top: 20px;
    font-size: 14px;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.user-profile img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin-right: 20px;
}

.title-link {
    text-decoration: none;
    color: inherit;
}

.title-link h1 {
    display: inline;
    margin: 0;
    padding: 0;
}

.table-view {
    padding: 20px;
    background-color: #FAEBD7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

.styled-table thead tr {
    background-color: #A0522D;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #A0522D;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #A0522D;
}

.btn-edit, .btn-delete, .btn-calendario {
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    margin-right: 5px;
}

.btn-calendario {
    background-color: #a0522d;

}

.btn-calendario:hover {
    background-color: #a04632 ;
}

.btn-edit {
    background-color: #2175ad;
}

.btn-edit:hover {
    background-color: #2142ad;
}

.btn-delete {
    background-color: #f44336;
}

.btn-delete:hover {
    background-color: #da190b;
}

.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FAEBD7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    color: #A0522D;
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #A0522D;
    font-size: 16px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #A0522D;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #8B4513;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #A0522D;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #8B4513;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FAEBD7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    animation: fadeIn 0.3s;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.btn-join {
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    margin-right: 5px;
}

.btn-join:hover {
    background-color: #45a049;
}

.btn-leave {
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #f44336;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.btn-leave:hover {
    background-color: #d32f2f;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.td_mesa{
    display: flex;
    flex-direction: column;
}

.td_mesa a{
    margin: 10px;
}

.table_results {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.table_card {
    background-color: #f9e7d9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table_card strong {
    font-size: 18px;
    color: #6d4c41;
}

.table_card a.btn {
    background-color: #8b4513;
    width: fit-content;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.table_card a.btn:hover {
    background-color: #a0522d;
}

.btn-calendario {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-calendario:hover {
    background-color: #45a049;
}

.participant {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.btn-disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.5;
}
.btn-disabled a {
    pointer-events: none;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.password-wrapper input {
    flex: 1;
    padding-right: 30px; /* Adiciona espaço para o ícone de olho */
}
.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.toggle-password img {
    width: 20px;
    height: 20px;
}
.password-strength {
    height: 10px;
    width: 0;
    background-color: red;
    transition: width 0.3s;
}

.btn-steam {
    background-color: #171a21; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-steam:hover {
    background-color: #1b2838; 
}

.btn-steam img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}